h1{
    background:#75a5f4;height: 1080px;width: 10%;float: left;color: white;text-align: center;margin-right: 2%;padding-top: 2%;
}
div{
    widows: 90px;float: left;height: 1080px;padding-top: 2%;
}
section{
    margin-top: 15%;
}